.section-search {
  width: 688px;
  margin: auto;
}

.label-text {
  width: 400px;
  height: 22px;
  object-fit: contain;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.text-input-rectangle {
  width: 620px;
  height: 58px;
  border-radius: 3px;
  border: solid 2px #cccccc;
  font-family: Helvetica;
  font-size: 18px;
  padding-left: 12px;
  color: #000000;
}

.go-button-rectangle {
  width: 60px;
  height: 60px;
  background-color: #4a90e2;
  border-color: #2e6da4;
  border-radius: 4px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.results-stats-count {
  width: 688px;
  object-fit: contain;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: oblique;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.td-image {
  width: 138px;
}

.search-result-thumb-mask {
  width: 138px;
  height: 138px;
  border: solid 2px #4a90e2;
  border: solid 2px var(--dark-sky-blue);
}

.search-result-thumb-image {
  width: 138px;
  height: 138px;
  border-radius: 50%;
}

.search-result {
  /* width: 366px; */
  height: 138px;
  vertical-align: middle;
  text-align: left;
  padding-left: 32px;
}

.search-result-title {
  /* width: 196px; */
  height: 35px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
}
.search-result-title .text-style-1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: #4a90e2;
  color: var(--dark-sky-blue);
}

#ImageBox {
  margin-top:0.25em;
}
#ImageBox {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1;
}
#ImageBox.ng-hide-add, #ImageBox.ng-hide-remove {
  display:block!important;
}
#ImageBox.ng-hide {
  opacity:0;
}
