<section class="section-search">
  <form name="form" (ngSubmit)="search()" #f="ngForm" novalidate>
    <div>
      <label for="keyword" class="label-text">NASA Image Search</label>
    </div>
    <input type="text" id="keyword" name="keyword" placeholder="" class="text-input-rectangle" [(ngModel)]="model.keyword" #keyword="ngModel" autofocus/>
    <button [disabled]="loading" class="go-button-rectangle">Go</button>
  </form>

  <div class="results-stats-count" *ngIf="total>0">
    <label class="results-stats-count">Showing {{search_results}} of {{total}} results </label>
  </div>

  <div class="text-center">
    <table class="table table-striped table-hover">
      <tbody>
        <!-- items being paged -->
        <tr *ngFor="let item of pagedItems">
          <td class="td-image">
            <div class="search-result-thumb-mask" *ngIf="item['images']">
              <img class="search-result-thumb-image" alt="{{item['data'][0]['title']}}" src="{{item['images'][0]}}">
            </div>
          </td>
          <td class="search-result">
            <div class="search-result-title">
              <a (click)="imageViewer(item)">{{item['data'][0]['title']}}</a>
            </div>
            <div class="text-style-1">
              {{item['data'][0]['date_created']}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>

  <div>
    <ngx-image-gallery
    [images]="itemImages"
    [conf]="conf"
    (onOpen)="galleryOpened($event)"
    (onClose)="galleryClosed()"
    (onImageClicked)="galleryImageClicked($event)"
    (onImageChange)="galleryImageChanged($event)"
    (onDelete)="deleteImage($event)"
    ></ngx-image-gallery>
  </div>
</section>
